<header class="custom-header">
  <div class="header-container">
    <!-- Left Navigation -->
    <nav class="left-nav">
      <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product">Products</a>
        </li>
      </ul>
    </nav>
    
    <!-- Center Logo -->
    <div class="center-logo">
      <a routerLink="/" class="logo-link">
        <span class="logo-text">Design Almighty</span>
      </a>
    </div>
    
    <!-- Right Navigation -->
    <nav class="right-nav">
      <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
      </ul>
    </nav>
  </div>
</header>