<header class="custom-header" [ngClass]="{'bottom-position': !isScrolled, 'top-position': isScrolled}">
  <div class="header-container">
    <nav class="left-nav">
      <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product">Products</a>
        </li>
      </ul>
    </nav>
    
    <div class="center-logo">
      <a routerLink="/" class="logo-link">
        <span class="logo-text">Design Almighty</span>
      </a>
    </div>
    
    <nav class="right-nav">
      <ul class="nav-menu">
        <li class="nav-item">
          @if (authStatus) {
            <a class="nav-link profile-link" routerLink="/account/profile">
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
              </svg>
              {{ getUserFirstName() }}
            </a>
          } @else {
            <a class="nav-link login-link" routerLink="/account/login">
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M15 3h6v6m-4 4 4-4M10 20H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h7M17 17l-4-4"/>
              </svg>
              Login/Sign Up
            </a>
          }
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>