<header class="custom-header" [ngClass]="{'bottom-position': !isScrolled, 'top-position': isScrolled}">
  <div class="header-container">
    <nav class="left-nav">
      <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product">Products</a>
        </li>
      </ul>
    </nav>
    
    <div class="center-logo">
      <a routerLink="/" class="logo-link">
        <span class="logo-text">Design Almighty</span>
      </a>
    </div>
    
    <nav class="right-nav">
      <ul class="nav-menu">
      
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>